version: '3'
services:
    auth-server:
        image: quay.io/keycloak/keycloak:15.0.2
        container_name: oauth2-auth-server
        volumes:
          - ./imports:/opt/jboss/keycloak/imports
        ports:
            - "8090:8080"
            - "9990:9990"
        environment:
            - KEYCLOAK_USER=admin
            - KEYCLOAK_PASSWORD=admin
            - KEYCLOAK_IMPORT=/opt/jboss/keycloak/imports/realm-export.json
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/auth/"]
            interval: 30s
            timeout: 10s
            retries: 5
    resource-server:
        depends_on:
            auth-server:
                condition: service_healthy
        build:
            context: ../
            dockerfile: ./docker/Dockerfile
        container_name: oauth2-resource-server
        ports:
            - "8080:8080"
            - "8000:8000"
        environment:
            # Auth server
            - spring.security.oauth2.resourceserver.jwt.issuer-uri=http://localhost:8090/auth/realms/bmg
            - spring.security.oauth2.resourceserver.jwt.jwk-set-uri=http://host.docker.internal:8090/auth/realms/bmg/protocol/openid-connect/certs
            # Auth server
            - security.server.url=http://host.docker.internal:8090/auth/
            - security.admin.username=admin
            - security.admin.password=admin
            - security.clientId=testClient
            - security.realm=bmg
